<!DOCTYPE html>
<html lang="ja">
<header>
    <meta charset="UTF-8">
     <title>写真からそのタイトルやテーマを出力するアプリの開発</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</header>
<body>
    <div class="main">    
        <header>
        <h1>写真からそのタイトルやテーマを出力するアプリの開発</h1>
    </header>
    <h3>ここに画像をアップロードしてください。すると短文のテーマが反映されます。</h3>
    <br>
    <br>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    </div>
    <footer>
        <br>
        <br>
        <p>&copy; 2023 kana</p>
    </footer>
</body>
</html>